.door-riddle
	display flex
	align-items center
	justify-content space-around
	height 100%

.door-riddle__button
	width 64px
	height 64px
	border-radius 64px
	background-color #583319
	border 1px solid #F3E9E0
	box-shadow 3px 3px 3px rgba(0, 0, 0, .4)
	transition background-color .3s

.door-riddle__button_pressed
	background-color #F3E5D9