.player
	width 600px
	height 400px
	font-family 'Oranienbaum', Georgia, serif
	position relative
	overflow hidden
	background-color #000
	cursor pointer
	z-index 10
	&:hover .player__controls
		opacity 1
		visibility visible
		bottom 0px
	&__canvas
		position absolute
		top 0
		left 0
	&__video,
	&__noisevideo
		display none
	&__controls
		position absolute
		height 35px
		width 100%
		bottom -100px
		visibility hidden
		opacity 0
		transition opacity .4s, bottom .2s
