html,
body
    width 100%
    height 100%

body 
    background #D8D8D8
    font-family Helvetica, sans-serif
    -webkit-font-smoothing antialiased
    color #333
    position relative
    margin 0


@import "page.styl"
@import "helpers.styl"
@import "form.styl"
@import "player.styl"
@import "controls.styl"