.block
	margin 20px
	position relative
	width 300px
	padding-bottom 40px
	box-sizing border-box
	white-space normal

.block__img
	width 100%
	border-radius 5px
	box-shadow 0 5px 20px 0 rgba(0, 0, 0, 0.2)

.block__title
	position absolute
	top 180px
	width 90%
	left 5%
	padding 10px
	box-sizing border-box
	box-shadow 0 5px 20px 0 rgba(0, 0, 0, 0.2)
	background-color #fff
	font-size 14px
	text-align center
	border-radius 5px
	&:after
		content ''
		background-color white
		box-shadow 0 5px 20px 0 rgba(0, 0, 0, 0.2)
		width 90%
		left 5%
		height 100px
		z-index -1
		bottom -5px
		border-radius 5px
		position absolute

.block__subtitle
	color gray
	font-size 12px
	margin-top 5px
	line-height 18px