.repeat
	display flex
	align-items center
	box-sizing border-box
	&.repeat_active
		.repeat__description
			display none
		.repeat__switcher
			border-color #6EB229
			&:after
				content ''
				background-image url('../img/check.svg')
				background-repeat no-repeat
				position absolute
				width: 20px;
				height: 20px;
				top: 50%;
				left: 50%;
				margin-top: -9px;
				margin-left: -10px;
				
	&:not(.repeat_active) 
		.repeat__cell_type_switcher
			width 100%
		.repeat__cell_type_list
			display none
	
.repeat__cell
	&_type
		&_switcher
			display flex
			align-items center
			padding 10px 0 20px 30px
		&_list
			width 100%

.repeat__description
	font-size 20px
	padding 0 15px 0 20px
	
.repeat__switcher
	width 30px
	height 30px
	box-sizing border-box
	border-radius 10px
	border 3px solid #000
	position relative

.repeat__list
	display flex
	padding 0 15px 0 5px
	justify-content space-between

.repeat__item
	text-transform uppercase
	letter-spacing 1px
	font-size 18px
	color #CCC
	padding: 10px 15px 20px 15px
	&.on
		color #000

.repeat__text
	width 100%
	padding-left 25px
	font-size 20px
