extends ./common/layout.pug
block content
	.page.page_type_form(data-page="form")
		.page__container
			h1.page__title
				| Киноглушитель
				span.icon
					svg(width='78', height='33', viewbox='195 1 78 33', xmlns='http: //www.w3.org/2000/svg')
						g(fill='#000', fill-rule='evenodd')
							path(d='M200.22 14.6c0-1.562-1.245-2.827-2.783-2.827 0 0-1.162.174-1.333 0-.17-.174-.103-.953 0-1.054.103-.103.205-.03.302-.03 1.538 0 2.783-1.266 2.783-2.828 0-.88-.396-1.664-1.016-2.185v-.003c-.19-.16-.307-.397-.307-.662 0-.48.38-.868.85-.868.03 0 .052.005.082.007l.004-.006h1.734l.747-1.198h2.363v-.93h1.45v.93h31.63v-.93h1.45l.386.93h.605v.773H241v2.864h-1.83v4.105h-2.974l-.343 1.24h-11.357v.033c-1.435.21-2.544 1.44-2.588 2.947h-.005v.617c0 1.99-2.475 3.6-5.527 3.6-.05 0-.097-.004-.15-.004 0 0-3.063-.264-3.698-.264-1.538 0-2.602.993-2.783 2.513-.063.533-.99 6.793-.99 6.793v4.36h-10.06v-.7h-2.67c0-3.36 2.178-10.763 3.77-15.735.27-.434.425-.942.425-1.49zm16.118 4.025c2.74 0 4.956-1.448 4.956-3.232 0-1.786-2.218-3.233-4.956-3.233-.503 0-.996.05-1.455.144-.235.496-.37 1.05-.37 1.64.01 2.68 3.314 3.397 3.187 3.73-.132.332-4.77-1.07-4.6-4.202.016-.19.04-.377.07-.562-1.09.594-1.782 1.485-1.782 2.484-.002 1.783 2.215 3.23 4.95 3.23z')
							path(d='M273 1.508h-32.5v7.11H273z')
			form.form
				.form__container
					input.form__input(type='text', data-type="video", placeholder='Ссылка на видео', value="./media/sherlock.mp4", required)
					input.form__input(type='text', data-type="subtitles", placeholder='Ссылка на субтитры', value="./media/subs.vtt", required)
					input.form__input(type='text', data-type="audio", placeholder='Ссылка на саундтрек', value="./media/audio.ogg", required)
					input.form__submit(type='submit', value='Заглушить')
	.page.page_type_player.hidden(data-page="player")
		.player.page__container(data-loader="Загрузка..")
			canvas.player__canvas
			.player__video-container
			.player__audio-container
			video.player__noisevideo(loop)
				source(src='./media/noise.mp4', type='video/mp4')
				source(src='./media/noise.ogv', type='video/ogg')
				source(src='./media/noise.webm', type='video/webm')
			.player__controls.controls
				.controls__item.controls__state.controls__state_play
				.controls__item.controls__progress
					.controls__now
	script#grayscale-shader(type='x-shader/x-vertex').
		void mainImage( out vec4 fragColor, in vec2 fragCoord ) {
			float a = 0.5;
			vec2 uv = fragCoord.xy / iResolution.xy;
			fragColor = mix(texture2D(iChannel0, uv), texture2D(iChannel0, uv), a);
			fragColor.rgb = vec3(dot(fragColor.rgb, vec3(0.2989, 0.5870, 0.1140)));
		}
