body
	margin 0
	font 14px/18px Arial, sans-serif
	background-color #fff

.page__input
	display none


.clearfix
	&:after
		content ''
		clear both
		display table

@media screen and (max-width:1200px)
	.programm
		width 33%
				
@media screen and (max-width:900px)
	.programm
		width 50%
		
@media screen and (max-width:640px)
	.nav
		text-align center
		padding 15px 0
		width 100%
	.programm
		width 100%
		

// only screen and (-webkit-min-device-pixel-ratio: 2)