@screen-wap: 340px;
@screen-mobile: 540px;
@screen-tablet: 840px;
@media print,
only screen and (max-width: @screen-tablet) {
    .content {
        .content__note,
        .content__paragraph {
            width: 100%;
            margin: 0 auto 5vh;
        }
        .content__note {
            position: relative;
            top: initial;
            left: initial;
            bottom: initial;
            &_align_bottom {
                margin-bottom: 0;
            }
        }
        .content__header {
            margin: 0 auto;
        }
    }
}

@media only screen and (max-width: @screen-mobile) {
    .content {
        padding-left: 0;
        padding-right: 0;
        .picture__caption,
        .content__header,
        .content__paragraph {
            padding-left: 5%;
            padding-right: 5%;
        }
        .content__blockquote,
        .content__note {
            max-width: 100%;
        }
        .content__blockquote {
            width: 90%;
            padding-right: 20px;
            box-sizing: border-box;
            margin: 0 auto 40px;
        }
        .content__header {
            line-height: 1.5;
            margin-bottom: 5vh;
            width: 90%;
            font-size: 10vw;
        }
    }
    .header {
        &_size {
            &_xl {
                font-size: 12vw;
                letter-spacing: 4vw;
            }
            &_l {
                font-size: 6vw;
                letter-spacing: 3vw;
            }
            &_l {
                font-size: 8vw;
                letter-spacing: 3vw;
            }
            &_s {
                font-size: 4vw;
                letter-spacing: 1.5vw;
                font-weight: normal;
            }
        }
    }
}

@media only screen and (min-width: @screen-wap) and (max-width: @screen-mobile) {
    .content__blockquote,
    .content__paragraph {
        font-size: 5vw;
    }
    .picture__caption,
    .content__blockquote_size_s {
        font-size: 4vw;
    }
}

@media print {
    .section {
        &_type_img {
            color: #000;
            &:first-child,
            &:last-child {
                min-height: 100%;
                height: 100vh;
                page-break-before: always;
            }
            &:not(:first-child):not(:last-child) {
                display: block;
                height: 100%;
                min-height: 0;
                page-break-before: always;
                .section__header {
                    display: block;
                    text-align: center;
                    .header_size_l {
                        font-size: 30px;
                        letter-spacing: 10px;
                        margin-top: 50px;
                    }
                }
            }
        }
        &_fullscreen {
            display: none;
        }
    }
    .content {
        .content__note {
            font-size: 16px;
        }
        .content__note,
        .content__paragraph {
            margin-bottom: 20px;
        }
    }
}
