html, body, .page {
	height: 100%;
}
body {
    margin: 0;
    font: 1.2em/1.5 'PT Serif', serif;
}

.page {
	min-width: 255px;
    width: 100%;
}

@import "images.less";
@import "blocks/header.less";
@import "blocks/section.less";
@import "blocks/content.less";
@import "blocks/picture.less";
@import "media.less";