<div class="comment">
	<div class="results__title">Поставить оценку</div>
	<span class="comment__title">Оценка</span>
	<div class="comment__stars">
		<div class="star active"></div>
		<div class="star active"></div>
		<div class="star active"></div>
		<div class="star active"></div>
		<div class="star"></div>
	</div>
	<textarea placeholder="Описание решения, ссылка на гитхаб" class="comment__text"></textarea>
	<button class="post__btn button js_comment_send">Отправить</button>
</div>