<div class="header">
	<div class="page__wrap grid grid_flex_2">
		<div class="grid__cell">
			<div class="header__logo logo"><img src="/img/ya.svg" alt=""/></div>
			<div class="header__sublogo sublogo">
				<div class="sublogo__text">Мобилизация</div>
			</div>
		</div>
		<div class="grid__cell">
			{{!-- <div class="header__menu tabs header_type_student">
				<a href="#" class="link text_color_black link_no_hover tabs__item tabs__item_state_active">Мои задачи</a>
				<a href="#team" class="link text_color_black link_no_hover tabs__item">Команда</a>
				<a href="#rating" class="link text_color_black link_no_hover tabs__item">Менторы</a>
				<label for="become" class="link text_color_black link_no_hover tabs__item">Стать ментором</label>
			</div> --}}
			<div class="header__menu tabs header_type_mentor">
				<a href="#students/1/" class="link text_color_black link_no_hover tabs__item tabs__item_state_active">Студенты</a>
				<a href="#teams/1/" class="link text_color_black link_no_hover tabs__item">Команды</a>
				<a href="#ratings" class="link text_color_black link_no_hover tabs__item">Менторство</a>
				<label for="become" class="link text_color_black link_no_hover tabs__item">Стать студентом</label>
			</div>
		</div>
	</div>
</div>