<div class="info grid grid_flex_2">
	<div class="grid__cell">Антон Ахатов, средний&nbsp;бал&nbsp;4.2</div>
	<div class="grid__cell grid__cell_textalign_right">1 оценивание, 2 в работе, 2 / 12 выполнено</div>
</div>