<div class="post__header">{{title}}</div>
<div class="post__date">
	<span class="text_color_green">Оценено</span>
	Дэдлайн: {{date}}
</div>
<div class="post__text text">{{text}}</div>
<button class="post__btn button js_post_open">Открыть</button>
<div id="result"></div>
<div id="comment"></div>
