<div class="results__item result">
	<div class="result__header"> 
		<div class="result__person">Антон Ахатов</div>
		<div class="result__stars">
			<div class="star active"></div>
			<div class="star active"></div>
			<div class="star active"></div>
			<div class="star active"></div>
			<div class="star"></div>
		</div>
	</div>
	<div class="result__content text">{{text}}</div>
</div>