html, body
	min-height 100%

body
	background-color #ACC0C1

.container
	position relative
	max-width 400px
	margin 0 auto

@media (min-width: 450px)
	.container
		box-shadow 1px 1px 20px #666
		
@import "reset.styl";
@import "popup.styl"
@import "level.styl"
@import "levels/door-ridle.styl"
@import "levels/circle-lever.styl"
@import "levels/wall.styl"
@import "levels/drop.styl" 