.form {
	&__container {
		width: 80%;
		margin: 0 auto;
	}
    &__input {
        background: #FFF;
        width: 100%;
        max-width: 500px;
        &:focus {
        	box-shadow: none;
        }
    }
    &__submit {
		background: #FFDB4D;
		float: right;
		cursor: pointer;
		&:hover {
			background: #FFEB3E;
		}
		&:active {
			box-shadow: none;
		}
    }

    &__input,
    &__submit {
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10), 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
        border: none;
        font-size: 16px;
		border-radius: 3px;
        color: #000;
        height: 40px;
        padding: 0 10px;
        margin-top: 20px;
        box-sizing: border-box;
        outline: none;
    }
}
