.label
	min-width 45px
	height 45px
	padding 10px
	box-sizing border-box
	border-radius 25px
	background-color #FFF
	text-align center
	color #4A90E2
	font-size 26px
	font-weight bold
	line-height 27px
	&.label_blue
		background-color #7BB8FF
		color #FFF
		font-size 36px

.label__devider
	display inline-block
	vertical-align middle
	width 2px
	height 35px
	background-color #DEDEDE
	margin-left 10px
	margin-right 20px

.label__text
	display inline-block

.label__sup,
.label__sub
	display inline-block
	font-weight normal
	letter-spacing 1px
	font-size 16px
	position relative

.label__sup
	top -7px
