@media only screen and (max-width: 450px)
	.signal__cell_type_delete
		margin-right 20px
	.signal__time
		font-size 60px
		line-height 50px
	.signal__delete
		width 25px
		height 25px
	.keyboard__num
		padding 15px 20px
	.repeat__item
		font-size 16px
		padding: 10px 5px 20px;

@media only screen and (max-width: 380px)
	.signal__time
		font-size 50px
		line-height 40px
	.repeat__cell_type_switcher
		padding 10px 10px 20px 20px