.circle-lever
	&__circle
		width 50%
		padding-bottom 50%
		position absolute
		top 25%
		left 25%
		background-image url('../img/stoneCenter.png')
		border-radius 50%
		overflow hidden
		transition: transform .2s;
		will-change: transform;
		backface-visibility: hidden;
	&__element
		position absolute
		top 0
		width 0
		height 0
		border 20px solid transparent
		margin-left -20px
		left 50%
		border-top-color yellow 
	&__slot
		height 100%
		width 5px
		top 0
		background-color yellow
		position absolute
		&_left
			left 0