.drop
	height 100%
	&__chain
		width 10px
		height 50%
		background-color #ab7a33
		box-shadow 0 0 20px 0 #000
		margin 0 auto
		position relative				
		&_break
			background-color transparent
			box-shadow none
	&__weight
		width 120px
		height 50%
		margin 0 auto
		position relative
		transition: transform .5s;
		will-change: transform
		backface-visibility: hidden
		&:before
			content ''
			position absolute
			background-image url('../img/boxCrate_warning.png')
			background-size cover
			width 120px
			height 120px
			top 0
			left 50%
			margin-left -60px
		&_fell
			transform translateY(calc(100% - 120px))
			&:before
				background-image url('../img/boxCoin_boxed.png')
				background-size cover
	&__btn
		position absolute
		width 70%
		height 10px
		background-image url('../img/sandHalf_mid.png')
		background-size 100% 20px
		border-radius 10px 10px 0 0
		bottom 0
		left 15%		