extends ./common/layout.pug
block content
	// Thanks for assets to Kenny at http://kenney.nl/assets/platformer-pack-redux
	.app.container
		.level.level_0
			.door.door_locked.door_level_0
		.level.level_1
			.door.door_locked.door_disabled.door_level_1
		.level.level_2
			.door.door_locked.door_disabled.door_level_2
		.level.level_3
			.box.box_locked.door.door_disabled.door_level_3
		.level.level_4
		.popup.popup_hidden.popup_level_0
			.popup__content.popup__content_level_0(touch-action='none')
				.popup__close ╳
				.door-riddle
					.door-riddle__button.door-riddle__button_0
					.door-riddle__button.door-riddle__button_1
					.door-riddle__button.door-riddle__button_2
		.popup.popup_hidden.popup_level_1
			.popup__content.popup__content_level_1(touch-action='none')
				.popup__close ╳
				.wall
					.wall__barrier
					.wall__key
					.wall__lock
		.popup.popup_hidden.popup_level_2
			.popup__content.popup__content_level_2(touch-action='none')
				.popup__close ╳
				.drop
					.drop__chain
					.drop__weight
					.drop__btn
		.popup.popup_hidden.popup_level_3
			.popup__content.popup__content_level_3(touch-action='none')
				.popup__close ╳
				.circle-lever
					.circle-lever__circle
						.circle-lever__element
					.circle-lever__slot.circle-lever__slot_left