extends ./common/layout.jade
block title
	title Фарерские острова
block content
	.page
		.section.section_type_img(style="background-image: url(img/header-img-0.jpeg);")
			.section__container
				.section__header
					h1.header.header_size_xl Фареры
					.header.header_size_s Первый раз в истории
			.section__caption Первоисточник: http://silavetra.com/faroeislands<br>Авторы: Алиса Сорокина, Яна Сорокина, Ольга Цапко — команда «Силы Ветра»
		.section.section_type_txt
			.content
				blockquote.content__blockquote.content__note.content__note_align_top Пятнадцать человек и семь дней интригующей неизвестности. Все ждали той особенной свободы, присущей только северному морю на краю цивилизации.
				p.content__paragraph Всё началось праздничным январским вечером. Мы с друзьями собрались, чтобы отметить Рождество, приготовить вкусный ужин и посмотреть кино. С другого конца стола я услышала:
				p.content__paragraph.
					— Давайте летом поедем туда!<br>
					— Куда? — спросила я.
				p.content__paragraph Вместо ответа мне показали фотографии. Я ещё не знала, что это за место, в какой точке Земли находится, как называется, но уже понимала — еду!
				p.content__paragraph За этим последовали обычные хлопоты подготовки к поездке: получение визы, приобретение и сбор всего необходимого, поиски информации и составление маршрутов.
				p.content__paragraph Вопрос о способе передвижения между островами перед нами не стоял. Две яхты были готовы к 				
				blockquote.content__blockquote.content__note.content__note_align_bottom Практически всё, что мы знали о Фарерах, когда садились в самолет, — это то, что овец в этом месте больше, чем людей, что фарерцы охотятся на дельфинов, что там живут смешные птицы под названием тупики, что острова — одно из самых рыбных мест на Земле, и там очень красиво.
		.section.section_type_img(style="background-image: url(img/header-img-1.jpeg);")
			.section__container
				.section__header
					h2.header.header_size_l Перелёт и&nbsp;дорога
		.section.section_type_txt
			.content
				blockquote.content__blockquote.content__note.content__note_align_top Первыми жителями Фарерских островов, которых мы встретили, оказались овцы. Они просто гуляли по территории аэропорта.
				p.content__paragraph Когда самолёт, выполняющий рейс Копенгаген — Воар (Vágar), начал снижаться, мы прилипли к иллюминаторам. Всюду был туман, из которого вдруг выплыли величественные скалы и то самое знаменитое озеро Сёрвагсватн (Sørvágsvatn), над которым мы летели так низко, что казалось, будто самолет будет приводняться.
				p.content__paragraph Мы ещё не сошли на землю, но уже впечатлились суровым пейзажем: невероятные зелёные холмы, высоченные утёсы, такие ровные, будто их ножом срезали, тёмная, живая вода океана, густой туман и водопады. Фарерские острова — это страна мистических туманов, ветров и водопадов. По местной легенде, названия водопадов — это вербальное выражение уникального шума каждого из них. Фарерцы слушали их и давали имена.
				blockquote.content__blockquote.content__note.content__note_align_bottom.content__blockquote_size_s Если вы не арендуете машину, заранее посмотрите расписание автобусов из аэропорта в Торсхавн (Torshavn). Они ходят достаточно редко. Стоимость билета — 90 датских крон (примерно 850 р.)
		.section.section_type_img(style="background-image: url(img/header-img-2.jpeg);")
			.section__container
				.section__header
					h2.header.header_size_l Погода
		.section.section_type_txt
			.content
				p.content__paragraph Мы знали про изменчивую фарерскую погоду и испытали все её особенности на себе. Обещали, что будет холодно, и не обманули.
				p.content__paragraph Температура в самый тёплый месяц года не поднималась выше 14 градусов днём, что при наличии сильного ветра в море создавало достаточно суровые условия. Обещали дожди, но тут нам повезло: основательный дождь шёл только в один из дней. В остальном погода соответствовала фарерской поговорке «Не нравится погода — подожди пять минут». Северное солнце за минуты сменялось густым, непроглядным туманом, за которым следовал дождь, а ещё через полчаса небо снова расчищалось.
				blockquote.content__blockquote.content__note.content__note_align_bottom.content__blockquote_size_s Встроенная печка на одной из яхт не раз нас спасала. На другой яхте система обогрева регулярно давала сбои из-за низкого заряда сервисной батареи — в кают-компании ребята спали в термобелье и зимних строительных комбинезонах.
		.section.section_type_img(style="background-image: url(img/header-img-3.jpeg);")
			.section__container
				.section__header
					h2.header.header_size_l Море
		.section.section_type_txt
			.content
				p.content__paragraph Со снаряжением я как-то справилась, но противостоять волнам во время пятичасовых переходов никакая экипировка не поможет. Я прижималась к леерной стойке на корме лодки, каждая волна обдавала меня холодными солёными брызгами.
				p.content__paragraph Я смотрела вдаль на горизонт и понимала, что даже качка не в силах испортить момента. Мне было жалко людей, которые жалели меня, потому что им самим порой было не лучше. Смешно, что мы даже в туалет не ходили, потому что для этого нужно было спускаться в кают-компанию, а нахождение там во время сильной качки более трёх минут влечёт за собой необратимые последствия, если вы понимаете, о чем я.
				.content__note.content__note_align_top
					.content-picture.content__picture
						img(src="img/img-1.jpeg", alt="sea1").content-picture__img
					.content-picture.content__picture
						img(src="img/img-2.jpeg", alt="sea2").content-picture__img
				p.content__paragraph Когда проходишь на яхте мимо фьордов, огромных камней и высоких пещер, с разных ракурсов видишь живые щупальца тумана, которые опускаются вниз по склонам, окутывают вершины, наполняют гроты и поглощают целые острова. Туман словно дышит, медленно и глубоко. Он зачаровывает. Он создаёт удивительный эффект парящих гор, ощущение, будто ты оказался в одном из мультфильмов Хаяо Миядзаки.
				p.content__paragraph Казалось, что к этим пейзажам можно привыкнуть, но каждый раз за поворотом нас ждало что-то такое, от чего замирало сердце. Невероятные недоступные долины, где каким-то образом оказывался одинокий маленький домик, солнечный свет, пробивающийся сквозь облака, насыщенная зелень склонов, тёмные и глубокие пещеры — всё это хочется видеть ещё и ещё. В одну из пещер мы заплыли на тузике: сужающиеся проходы, полная темнота и набегающие волны заставили нас понервничать.
				blockquote.content__blockquote.content__note.content__note_align_bottom Меня удивил и поразил океан. Его воды полны невидимой жизни и силы. Иногда становилось не по себе от ощущения, что мы здесь с ним один на один.
		.section.section_type_img(style="background-image: url(img/header-img-4.jpeg);")
			.section__container
				.section__header
					h2.header.header_size_l Пешие походы
		.section.section_type_txt
			.content
				.content_note
				p.content__paragraph После морского путешествия мы на пару дней взяли машины напрокат. Острова открылись нам с совершенно другой стороны, поразив своей красотой и влюбив в себя окончательно и бесповоротно. 
				p.content__paragraph Часть островов соединены платными туннелями или мостами. На некоторые можно попасть только на пароме или вертолёте. Автомобильные дороги в основном двухполосные, но встречаются и однополосные, редкие машины разъезжаются через специальные «карманы» на обочинах. Если откуда-то с дороги открывается прекрасный вид на фьорды, будьте уверены — фарерцы уже сделали там смотровую площадку.
				blockquote.content__blockquote.content__note.content__note_align_bottom.content__blockquote_size_s Интересно, что все деревья, которые есть на островах, завезены с Аляски или Огненной Земли. Чаще всего их можно увидеть во дворах состоятельных жителей. А вот зелёная трава прекрасно растёт даже на тонком слое почвы. Фарерцы давным-давно приспособились использовать траву для сохранения тепла: крыши многих домов покрыты своеобразным зелёным газоном.ких крон (примерно 850 р.)
		.section.section_type_img.section_fullscreen(style="background-image: url(img/header-img-5.jpeg);")
		.section.section_type_txt
			.content
				h3.content__header.header.header_size_m Озеро Сёрвагсватн
				p.content__paragraph Фотографии озера, возвышающегося над океаном, вошли, кажется, во все списки самых красивых мест на Земле. 
				p.content__paragraph Это озеро Сёрвагсватн или Лайтисватн (Sørvágsvatn / Leitisvatn). Находится оно на острове Воар в нескольких километрах от аэропорта. 
				p.content__paragraph Автомобильная дорога подходит к озеру только с одной стороны, так что до самых живописных видов придётся пройтись. Однако эта двухчасовая прогулка определённо того стоит. На южной оконечности острова вас ждут высоченные утёсы, завывающий ветер и водопад, летящий прямо в океан.
		.section.section_type_img.section_fullscreen(style="background-image: url(img/header-img-6.jpeg);")
		.section.section_type_txt
			.content
				h3.content__header.header.header_size_m Остров Микинес
				p.content__paragraph Посещение острова Микинес (Mykines) обязательно, если вы добрались до Фарерских островов. На машине туда не попасть, поэтому лучше запланировать поездку заранее: изучить расписание паромов и купить билет или забронировать полёт на вертолёте. Утром вас привезут на остров, вечером заберут обратно. 
				p.content__paragraph Для прогулки по Микинесу вам потребуется обувь с нескользящей подошвой: трава почти всегда мокрая от дождя или тумана. Наградой за тяжёлый подъём, который займёт не менее двух часов, будут единение с природой, туман, который можно потрогать, тупики, бараны и маяк на краю света. 
				p.content__paragraph Что ещё действительно стоит сделать — это захватить с собой пару термосов с чаем, чего-нибудь вкусного и устроить пикник на самой западной точке острова, откуда отрывается вид на бесконечную Атлантику. Несмотря на то, что Микинес считается туристическим местом, мы нашли только одно маленькое, но уютное кафе с вафлями и кофе, которые после пяти часов, проведённых на свежем воздухе, кажутся волшебными.
				.content__note.content__note_align_top
					.content-picture.content__picture
						img(src="img/img-3.jpeg", alt="island").content-picture__img
						.content-picture__caption На Микинесе тупиков практически можно схватить за хвост. Тут их целые колонии. Поначалу не обращаешь внимания на небольшие углубления в холме, но, приглядевшись, обнаруживаешь, что это норы маленьких птичек, которые рычат оттуда, да-да, именно рычат, защищая свое жилище. Этот звук совершенно не ассоциируется с такими милыми созданиями.
		.section.section_type_img.section_fullscreen(style="background-image: url(img/header-img-7.jpeg);")
		.section.section_type_txt
			.content
				h3.content__header.header.header_size_m Саксун
				p.content__paragraph В местечке Саксун (Saksun) можно провести не один час, что мы и сделали в первый день после сдачи лодок, несмотря на проливной дождь. Надо сказать, что этот дождь преобразил пейзаж: водопады наполнились водой и дружно зашумели. Под этот гул мы спускались в долину реки, которая разделяет деревушку Саксун на две части. Внизу у нас перехватило дыхание. То самое состояние, когда понимаешь, насколько величественна природа. 
				p.content__paragraph Место, где мы стояли, оказалось дном приливно-отливного озера Поллур (Pollurin). Мы как раз застали отлив, но моё воображение сразу же нарисовало огромную волну возвращающейся воды. К счастью, приливы там небольшие, сантиметров 40. Мы шли всё дальше к океану, а сердце замирало от детского восторга. Промокшие, но довольные, вернулись к машинам и поехали искать место, где можно хоть чем-то перекусить. Такое место мы нашли на заправке и съели там сначала по одной сосиске в тесте, а потом на всякий случай ещё по одной: уж слишком мала вероятность встретить кафе или ещё одну крупную заправку на пути.
		.section.section_type_img(style="background-image: url(img/header-img-8.jpeg);")
			.section__container
				.section__header
					h2.header.header_size_l Местные жители и&nbsp;промысел
		.section.section_type_txt
			.content
				p.content__paragraph На стенах в домах фарерцев висят старые чёрно-белые фотографии, на которых всё большое семейство в вязаных свитерах с национальными узорами стоит рядом с убитым дельфином.
				p.content__paragraph Различные организации по защите животных пытаются противостоять жестокому убийству. Вокруг островов постоянно курсирует корабль Общества охраны морской фауны и пытается физически помешать забою дельфинов. Однако фарерцы в ответ на агрессивное поведение защитников животных приняли закон, позволяющий применять силу против подобных судов. До сих пор каждый фаререц, которому ещё не довелось участвовать в охоте на чёрных дельфинов (гринд), мечтает об этом. Экспорт китового жира и мяса запрещён, весь улов идет в пищу в зимнее время года.
				.content__note.content__note_align_top
					.content-picture.content__picture
						img(src="img/img-4.jpeg", alt="locals").content-picture__img
						.content-picture__caption Чтобы понять этот обычай, нужно сюда приехать. Нужно посмотреть в глаза человеку, который рассказывает вам, что это традиция, а не развлечение. Это еда, способ выживания на земле, на которой ничего не растет, которая не может прокормить.
				p.content__paragraph На своём пути мы встречали много замечательных, добрых, искренних, порой немного наивных и всегда болеющих душой за чужое горе людей. Привезти переходник для подключения электричества, позвонить главному харбор-мастеру по островам и узнать, можно ли лодкам остаться на ночь, отдать последнюю бутылку охлаждающей жидкости из своей машины — всё это для любого фарерца является само собой разумеющимся.
				p.content__paragraph Люди на островах никуда не спешат, не торопятся и не бегут. Молодежь весело болтает за столиком с чашечкой кофе, старики, сидя на пристани, витают мыслями где-то далеко и вспоминают былое. Все они наслаждаются этой неспешной жизнью.
				p.content__paragraph Океан играет большую роль в жизни фарерцев. Он их кормит и дает им работу. Многие с детства и до самой смерти рыбачат, работают на лососевых фермах или рыбоперерабатывающих заводах. Студенты в основном работают в сфере услуг: в кафе и ресторанах, в магазинах, гостиницах и, конечно, на семейных фермах.
				blockquote.content__blockquote.content__note.content__note_align_bottom Фарерцы — удивительные, волшебные люди. Они не знают обмана, не понимают сарказма. Их дома, как и сердца, всегда открыты.
		.section.section_type_img(style="background-image: url(img/header-img-9.jpeg);")
			.section__container
				.section__header
					h2.header.header_size_l Команда «Силы Ветра»
			.section__caption silavetra.com











