<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	link(rel="stylesheet", href="/css/style.css")
	title Яндекс.Мобилизация
body
	block page
	script(src='js/bower/moment/moment.js')
	script(src='js/bower/moment/locale/ru.js')
	script(src='js/bower/underscore/underscore-min.js')
	script(src='js/bower/zepto/zepto.min.js')
	script(src='js/bower/backbone/backbone-min.js')
	script(src='js/app.js')